<ng-container *ngIf="configs$ | async as configs">
  <app-form-group [description]="'poetryDesc'">
    <div class="input-group input-group-sm mb-2" [class.disabled]="!configs.prose_verses_toggler" content>
      <div class="input-group-prepend">
        <div class="input-group-text">
          <input type="checkbox" [checked]="configs.prose_verses_toggler" [(ngModel)]="configs.prose_verses_toggler"
            [title]="configs.prose_verses_toggler ? 'disable': 'enable' | translate">
        </div>
      </div>
      <label class="form-control" [ngClass]="{
                'bg-light': !configs.prose_verses_toggler,
                'text-muted': !configs.prose_verses_toggler }">{{'proseVersesToggler' | translate }}</label>
    </div>
  </app-form-group>
</ng-container>