<ng-container *ngIf="configs$ | async as configs">
  <app-form-group [description]="'viewsDesc'">
    <div class="form-check pl-0" content>
      <input class="inline-label" type="checkbox" id="image_frame" [checked]="configs.image_frame"
        [(ngModel)]="configs.image_frame" name="image_frame" />
      <label class="col-form-label-sm form-check-label ml-3" for="image_frame">{{'imageFrame' | translate }}</label>
    </div>
    <div class="form-check pl-0" content>
      <input class="inline-label" type="checkbox" id="double_view" [checked]="configs.double_view"
        [(ngModel)]="configs.double_view" name="double_view" />
      <label class="col-form-label-sm form-check-label ml-3" for="double_view">{{'bookReader' | translate }}</label>
    </div>
  </app-form-group>
  <app-form-group [description]="'defaultLeftFrameDesc'">
    <div class="form-check pl-0" content>
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="left_frame_default_content"
        [(ngModel)]="configs.left_frame_default_content">
        <label ngbButtonLabel class="btn-sm btn-primary">
          <input ngbButton type="radio" value="image">
          {{'image' | translate}}
        </label>
        <label ngbButtonLabel class="btn-sm btn-primary">
          <input ngbButton type="radio" value="info">
          {{'manuscriptInfo' | translate}}
        </label>
      </div>
    </div>
  </app-form-group>
  <app-form-group [description]="'defaultRightFrameDesc'">
    <div class="form-check pl-0" content>
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="right_frame_default_content"
        [(ngModel)]="configs.right_frame_default_content">
        <label ngbButtonLabel class="btn-sm btn-primary">
          <input ngbButton type="radio" value="text">
          {{'editionText' | translate}}
        </label>
        <label ngbButtonLabel class="btn-sm btn-primary">
          <input ngbButton type="radio" value="info">
          {{'frontInfo' | translate}}
        </label>
      </div>
    </div>
  </app-form-group>
</ng-container>