<ng-container *ngIf="configs$ | async as configs">
  <app-card [title]="'imageTools'" class="mb-3 d-block">
    <app-image-tools-config content></app-image-tools-config>
  </app-card>
  <app-card [title]="'navigation'" class="mb-3 d-block">
    <app-navigation-config content></app-navigation-config>
  </app-card>
  <app-card [title]="'views'" class="mb-3 d-block">
    <app-views-config content></app-views-config>
  </app-card>
  <ng-container *ngTemplateOutlet="prefatoryMatter;context:{configs:configs}"></ng-container>
  <ng-container *ngTemplateOutlet="search;context:{configs:configs}"></ng-container>
  <ng-container *ngTemplateOutlet="viscoll;context:{configs:configs}"></ng-container>
  <ng-container *ngTemplateOutlet="poetry;context:{configs:configs}"></ng-container>
  <ng-container *ngTemplateOutlet="listsNE;context:{configs:configs}"></ng-container>
</ng-container>

<ng-template #prefatoryMatter let-configs="configs">
  <app-card [title]="'prefatoryMatter'" class="mb-3 d-block">
    <div content>
      <app-form-group [description]="'prefatoryMatterDesc'">
        <div content>
          <div class="form-check pl-0">
            <input class="inline-label" type="checkbox" id="headerInfo" [checked]="configs.headerInfo"
              [(ngModel)]="configs.headerInfo" name="headerInfo" />
            <label class="col-form-label-sm form-check-label ml-3"
              for="headerInfo">{{'headerInfo' | translate }}</label>
          </div>
          <div class="form-check pl-0">
            <input class="inline-label" type="checkbox" id="bibliography" [checked]="configs.bibliography"
              [(ngModel)]="configs.bibliography" name="bibliography" />
            <label class="col-form-label-sm form-check-label ml-3"
              for="bibliography">{{'bibliography' | translate }}</label>
          </div>
          <div class="form-check pl-0">
            <input class="inline-label" type="checkbox" id="msDesc" [checked]="configs.msDesc"
              [(ngModel)]="configs.msDesc" name="msDesc" />
            <label class="col-form-label-sm form-check-label ml-3" for="msDesc">{{'msDesc' | translate }}</label>
          </div>
          <div class="form-check pl-0">
            <input class="inline-label" type="checkbox" id="textPrefatoryMatter"
              [checked]="supportConfig.textPrefatoryMatter" [(ngModel)]="supportConfig.textPrefatoryMatter"
              name="textPrefatoryMatter" (change)="updatePrefatoryMatterConfigs()" />
            <label class="col-form-label-sm form-check-label ml-3"
              for="textPrefatoryMatter">{{'textPrefatoryMatter' | translate }}</label>
          </div>
        </div>
      </app-form-group>
      <app-form-group [description]="'textPrefatoryMatterDesc'" *ngIf="supportConfig.textPrefatoryMatter">
        <div class="form-check pl-0" content>
          <div class="btn-group btn-group-toggle ml-3" ngbRadioGroup name="textPrefatoryMatterType"
            [(ngModel)]="supportConfig.textPrefatoryMatterType">
            <label ngbButtonLabel class="btn-sm btn-primary">
              <input ngbButton type="radio" value="front" (change)="updatePrefatoryMatterConfigs()">
              {{'frontInfo' | translate}}
            </label>
            <label ngbButtonLabel class="btn-sm btn-primary">
              <input ngbButton type="radio" value="regesto" (change)="updatePrefatoryMatterConfigs()">
              {{'regesto' | translate}}
            </label>
          </div>
        </div>
      </app-form-group>
    </div>
  </app-card>
</ng-template>

<ng-template #search let-configs="configs">
  <app-card [title]="'search'" class="mb-3 d-block">
    <div content>
      <app-form-group [description]="'searchDesc'">
        <div class="form-check pl-0" content>
          <input class="inline-label" type="checkbox" id="search" [checked]="configs.search"
            [(ngModel)]="configs.search" name="search" />
          <label class="col-form-label-sm form-check-label ml-3" for="search">{{'searchEngine' | translate }}</label>
        </div>
        <div class="form-check pl-0" content>
          <input class="inline-label" type="checkbox" id="virtual_keyboard_search"
            [checked]="configs.virtual_keyboard_search" [(ngModel)]="configs.virtual_keyboard_search"
            name="virtual_keyboard_search" />
          <label class="col-form-label-sm form-check-label ml-3"
            for="virtual_keyboard_search">{{'virtualKeyboardSearch' | translate }}</label>
          <small class="mb-3 d-block text-muted">
            <strong>{{ 'warning' | translate }}!</strong> {{ 'virtualKeyboardSearch_warning' | translate }}
            <code>config/keyboard_config.xml</code>
          </small>
        </div>
      </app-form-group>
    </div>
  </app-card>
</ng-template>

<ng-template #viscoll let-configs="configs">
  <app-card [title]="'viscoll'" class="mb-3 d-block">
    <div content>
      <app-viscoll-config></app-viscoll-config>
    </div>
  </app-card>
</ng-template>

<ng-template #poetry let-configs="configs">
  <app-card [title]="'poetry'" class="mb-3 d-block">
    <div content>
      <app-form-group [description]="'poetryDesc'">
        <div class="form-check pl-0" content>
          <input class="inline-label" type="checkbox" id="prose_verses_toggler" [checked]="configs.prose_verses_toggler"
            [(ngModel)]="configs.prose_verses_toggler" name="prose_verses_toggler" />
          <label class="col-form-label-sm form-check-label ml-3"
            for="prose_verses_toggler">{{'proseVersesToggler' | translate }}</label>
        </div>
      </app-form-group>
    </div>
  </app-card>
</ng-template>


<ng-template #listsNE let-configs="configs">
  <app-card [title]="'listsNE'" class="mb-3 d-block">
    <div content>
      <app-lists-config></app-lists-config>
      <app-entities-lists-config></app-entities-lists-config>
    </div>
  </app-card>
</ng-template>