<h2>{{'tools' | translate }}</h2>
<a #imageTools id="imageTools"></a>
<app-card [title]="'imageTools'" class="mb-3 d-block">
  <app-image-tools-config content></app-image-tools-config>
</app-card>
<a #navigation id="navigation"></a>
<app-card [title]="'navigation'" class="mb-3 d-block">
  <app-navigation-config content></app-navigation-config>
</app-card>
<a #views id="views"></a>
<app-card [title]="'views'" class="mb-3 d-block">
  <app-views-config content></app-views-config>
</app-card>
<a #prefatoryMatter id="prefatoryMatter"></a>
<app-card [title]="'prefatoryMatter'" class="mb-3 d-block">
  <app-prefatory-matter-config content></app-prefatory-matter-config>
</app-card>
<a #search id="search"></a>
<app-card [title]="'search'" class="mb-3 d-block">
  <app-search-config content></app-search-config>
</app-card>
<a #viscoll id="viscoll"></a>
<app-card [title]="'viscoll'" class="mb-3 d-block">
  <app-viscoll-config content></app-viscoll-config>
</app-card>
<a #poetry id="poetry"></a>
<app-card [title]="'poetry'" class="mb-3 d-block">
  <app-poetry-config content></app-poetry-config>
</app-card>
<a #listsNE id="listsNE"></a>
<app-card [title]="'listsNE'" class="mb-3 d-block">
  <app-lists-config content></app-lists-config>
  <app-entities-lists-config content></app-entities-lists-config>
</app-card>