<nav class="navbar justify-content-between temp-header">
  <a class="navbar-brand">
    <img src="../../assets/images/logo.png" height="30" class="d-inline-block align-top" alt="">
    <span>{{ 'appTitle' | translate }}</span>
  </a>
  <div>
    <button type="button" class="btn btn-light mr-2">
      <fa-icon icon="upload"></fa-icon>
      {{'upload' | translate}}
    </button>
    <button type="button" class="btn btn-light">
      <fa-icon icon="download"></fa-icon>
      {{'save' | translate}}
    </button>
  </div>
</nav>