<nav class="navbar fixed-top flex-md-nowrap pt-1 pb-1 pl-2 pr-2 shadow justify-content-between">
  <a class="navbar-brand">
    <img src="../../assets/images/logo.png" height="30" class="d-inline-block align-top" alt="">
    <span>{{ 'appTitle' | translate }}</span>
  </a>
  <div>
    <button type="button" class="btn btn-sm btn-light mr-2">
      <fa-icon icon="upload"></fa-icon>
      {{'upload' | translate}}
    </button>
    <button type="button" class="btn btn-sm btn-light mr-2">
      <fa-icon icon="download"></fa-icon>
      {{'save' | translate}}
    </button>
    <ng-select [items]="availableLanguages" bindLabel="label" bindValue="code" [clearable]="false"
      [(ngModel)]="selectedLanguage" (change)="changeLanguage()">
      <ng-template ng-label-tmp let-item="item">
        {{item.label | translate}}
      </ng-template>
      <ng-template ng-option-tmp let-item="item">
        {{item.label | translate}}
      </ng-template>
    </ng-select>
  </div>
</nav>
<app-dashboard></app-dashboard>