<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3 d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <ngb-accordion #a="ngbAccordion" activeIds="{{sections[0].name}}">
          <ngb-panel id="{{section.name}}" *ngFor="let section of sections">
            <ng-template ngbPanelHeader let-opened="opened">            
              <button class="btn btn-transparent w-100 text-left border-0" 
                [class.active]="opened"
                ngbPanelToggle>
                <fa-icon [icon]="opened ? 'caret-down' : 'caret-right'"></fa-icon>
                <span class="ml-2">{{section.name | translate}}</span>
              </button>
            </ng-template>
            <ng-template ngbPanelContent>
              <ul class="flex-column list-group list-group-flush ml-3 border-left">
                <li class="list-group-item p-0 border-0" 
                  *ngFor="let item of section.items">
                  <a href="#" class="nav-link p-1 pl-2">{{item.name | translate}}</a></li>
              </ul>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-9 px-4 pt-4">
      <app-edition-main-data></app-edition-main-data>
      <app-edition-tools></app-edition-tools>
    </main>
  </div>
</div>