<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3 d-none d-md-block sidebar">
      <div class="sidebar-sticky">
        <ngb-accordion #a="ngbAccordion" activeIds="{{sections[0].name}}">
          <ngb-panel id="{{section.name}}" *ngFor="let section of sections">
            <ng-template ngbPanelHeader let-opened="opened">            
              <button class="btn btn-transparent w-100 text-left border-0" 
                [class.active]="opened"
                ngbPanelToggle>
                <fa-icon [icon]="opened ? 'caret-down' : 'caret-right'"></fa-icon>
                <span class="ml-2">{{section.name | translate}}</span>
              </button>
            </ng-template>
            <ng-template ngbPanelContent>
              <ul class="flex-column list-group list-group-flush ml-3 border-left">
                <li class="list-group-item p-0 border-0" 
                  *ngFor="let item of section.items">
                  <a href="#" class="nav-link p-1 pl-2">{{item.name | translate}}</a></li>
              </ul>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
        <!-- <ng-container *ngFor="let section of sections; let isFirstSection=first">
          <h6 data-toggle="collapse" [attr.data-target]="'#'+section.name" aria-expanded="true"
            aria-controls="collapseOne"
            class="sidebar-heading d-flex justify-content-between align-items-center px-3 pt-2 mt-2 mb-1"
            [class.border-top]="!isFirstSection">
            <span>{{section.name | translate}}</span>
          </h6>
          <ul [id]="section.name" class="flex-column list-group list-group-flush collapse" [class.show]="isFirstSection"
            role="tablist">
            <li class="list-group-item p-0 border-right" [class.border-top-0]="first" [class.border-bottom-0]="last"
              *ngFor="let item of section.items; let first=first; let last=last">
              <a href="#" class="nav-link">{{item.name | translate}}</a></li>
          </ul>
        </ng-container> -->
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

    </main>
  </div>
</div>