@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

.dashboard-main {
  @include calc('height', '100% - 48px');
  overflow: auto;
  top: 48px;
  position: fixed;
}

main {
  background: rgba($primary-light, .2);
}
.sidebar {
  position: fixed;
  top: 48px;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  @include set('box-shadow', 'inset -1px 0 0 rgba(0, 0, 0, .1)');
  background: rgba($primary-light, .9);
  
  .btn-transparent {
    border-radius: 0;
    color: #000;
    background: transparent;
  }

  .section-header-btn {
    font-weight: 500;
    color: #000;
    font-size: 0.9rem;
  }

  .list-group-item {
    .nav-link {
      font-weight: 300;
      color: #000;
      font-size: 0.9rem;
    }

    background-color: transparent;
  }
}

::ng-deep {
  .sidebar {

    .accordion>.card .card-header,
    .accordion>.card .card-body {
      padding: 0;
    }

    .card {
      border: 0;
      background: transparent;
      border-radius: 0;
      .tab {
        border-radius: 0;
      }
    }

    .card-header {
      border: 0;

      &:focus {
        outline: none;
      }
    }
    .active, .active a {
      background: #61544d;
      color: $yiq-text-light !important;
    }
  }
}