@import './assets/scss/variables';
@import "node_modules/bootstrap/scss/bootstrap";
@import './assets/scss/mixins';

body {
  height: 100%;
  overflow: hidden;
}

.bg-primary-dark {
  background: $primary-dark;
}

.btn-group-toggle {
  .btn-primary.active {
    background: $primary-dark !important;
  }
}

.input-group-text {
  background: rgba($secondary, .3);
}

input[type="checkbox"] {
  filter: sepia(100%);
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
}

.form-control:disabled {
  color: #6c757d !important;
}

.input-group {
  .btn-light[disabled] {
    border-color: #dae0e5;
  }

  label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ng-select {
  position: relative;
  display: inline-flex !important;
  vertical-align: middle;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;

  &.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
    border-color: transparent;
  }

  .ng-select-container {
    height: 31px !important;
    min-height: 31px;
    vertical-align: middle;
    border-color: transparent;
  }

  .ng-arrow-wrapper {
    padding-left: 6px;

    .ng-arrow {
      border-width: 4px 4px 2.5px;
    }
  }

  .ng-dropdown-panel-items {
    @include set('box-shadow', '0 0.125rem 0.25rem rgba(0, 0, 0, 0.1)');
  }

  &.ng-select-opened {
    .ng-arrow-wrapper .ng-arrow {
      border-width: 0 4px 4px;
    }
  }

}

:focus {
  outline: none !important;
  @include set('box-shadow', 'none', '!important');
}

.hidden {
  visibility: hidden;
}