@import "node_modules/bootstrap/scss/bootstrap";
@import './assets/scss/variables';

.btn-light {
    color: $baseColorDark;
    background: $baseColorLight;
    &:hover {
        background: rgba($baseColorLight, .9);
    }
}